
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC


*, *:before, *:after {
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}


body {
	color: #000;
	line-height: 1.5;
	font-family: "Open Sans", sans-serif;
}

h1 {
	font-weight: bold;
	padding-top: 25px;
	color: #fff;

}
.benefits {
	padding: 50px;
}

h2 {
	color: black;
	font-style: normal;
	font-weight: 600;
}

section h2 a {
	font-style: normal;
	font-weight: 300;

}

section div h3 {
	color: white;
	font-style: italic;
}

section div h2 {
	font-style: normal;
	font-weight: 600;
	color: white;
}


footer {
	font-style: normal;
	color: white;
	background-color: #121212
}

.container {
	max-width: 90%;
  margin: 0 auto;
  width: 1024px;
}

.intro {
	background: url("../images/header_bg.jpg") no-repeat center top rgb(134,141,157);
	background-size: cover;
}

.button: get-it-now {
	background-color: #f9e42e;
	border-radius: 15px
}

.testimonial {
	background: url("../images/testimonial_bg.jpg");
	background-size: cover;
}

.sign-up {
	background-color: #f9e42e;
	text-align: center;
	padding: 25px 0;
}

.sign-up a {
	color: white;
	background-color: #033048;
	padding: 15px 50px;
	display: inline-block;
}










